@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Pixelify+Sans:wght@400..700&display=swap');

body {
  background-color: #e7f5e1; /* verde pastel */
  color: #1f361f;
  background-image: 
    linear-gradient(to right, #ccc 1px, transparent 1px),
    linear-gradient(to bottom, #ccc 1px, transparent 1px);
  background-size: 55px 55px;
  font-family: Arial, sans-serif;
  transition: 0.3s;
  font-size: 14px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
  text-align: center;
}

.corpo {
  margin: 0 auto;
  width: 600px;
  background-color: white;
  padding: 20px;
  border: solid 2px;
  border-color: #6BA612; /* verde brócolis */
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.header-com-lottie {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.header-com-lottie h1 {
  margin: 0;
  font-size: 40px;
  font-family: "Jersey 15", sans-serif;
  color: #6BA612;
  font-size: 40px;
  font-weight: 500;
}

#divisor {
  margin-top: 40px;
  margin-bottom: 10px;
  color: #4b8b1d99;
}

#userInput {
  padding: 20px;
  border: 2px solid #b4d59a;
  border-radius: 8px;
  margin-bottom: 20px;
  outline-color: #6BA612;
  background-color: #f8fff2;
}

input {
  padding: 8px;
  margin: 5px;
  border: 2px solid #9bd084;
  border-radius: 8px;
  outline: none;
  background-color: #f1fae6;
  width: 300px;
}

input:focus {
  border-color: #6BA612;
}

button {
  background-color: #6BA612;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 2px 2px 5px #ccc;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #85c744;
  transform: scale(1.05);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

#chat {
  flex: 1;
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.mensagem {
  padding: 10px 15px;
  border-radius: 12px;
  margin: 5px 0;
  max-width: 80%;
  word-wrap: break-word;
}

#borda {
  border: solid 2px #6BA612;
  width: 500px;
  margin: 0 auto 30px auto;
  border-radius: 8px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  background-color: #ffffff;
}

.usuario {
  background-color: #dff4d2;
  align-self: flex-end;
  text-align: right;
  margin-left: auto;
}

.assistente {
  background-color: #eef6e9;
  align-self: flex-start;
  margin-right: auto;
}

textarea {
  width: 60%;
  resize: vertical;
  background-color: #f8fff2;
  border: 2px solid #b4d59a;
  border-radius: 8px;
}

#enviarBtn {
  margin-right: 18px;
}
